<nz-layout>
  <nz-header>

    <header class="flex_row">

      <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="suffixButton">
        <input name="searchKey" type="text" [(ngModel)]="searchKey" nz-input
               placeholder="ネイムを入れてください"/>
      </nz-input-group>

      <ng-template #suffixButton>
        <button nz-button nzType="primary" [disabled]="!searchKey" (click)="search()">Search</button>
      </ng-template>

      <ng-template #addOnBeforeTemplate>
        <nz-radio-group [(ngModel)]="searchType" nzButtonStyle="solid">
          <label nz-radio-button nzValue="comp">comp</label>
          <label nz-radio-button nzValue="brand">brand</label>
        </nz-radio-group>
      </ng-template>

      <select *ngIf="emotions" [(ngModel)]="state" (ngModelChange)="onStateSelected()" style="margin-left: auto">
        <option *ngFor="let emotion of emotions" [value]="emotion">{{emotion |emotionJP }}</option>
      </select>
    </header>
  </nz-header>
  <nz-content>
    <app-list [filter]="filter"></app-list>
  </nz-content>
</nz-layout>
