<main *ngIf="cvGroup!=null" class="grid">
  <section *ngFor="let group of cvGroup" class="flex_column container">
    <header>
      <d-rate *ngIf="group.star>=0;else number" [ngModel]="group.star" [readonly]="true"></d-rate>
      <ng-template #number>
        <div>{{group.star}}</div>
      </ng-template>
    </header>
    <main class="flex_row gap-5" style="flex-wrap: wrap;">

      <app-jumpcv *ngFor="let cv of group.list" [cv]="cv.name" [isReal]="true"></app-jumpcv>
    </main>
  </section>
</main>
