<div *ngIf="cvGroup" class="grid container">
  <section *ngFor="let group of cvGroup" class="flex_column container">
    <header>
      <d-rate *ngIf="group.star>=0;else number" [ngModel]="group.star" [readonly]="true"></d-rate>
      <ng-template #number>
        <div>{{group.star}}</div>
      </ng-template>
    </header>
    <main class="flex_row flex_float gap-5">

      <div *ngFor="let cv of group.list" class="container test_border">
        <app-jumpcv [cv]="cv.name" [isReal]="true" title="{{cv | json}}"></app-jumpcv>
        <div>
          <span>{{cv.statistics.start.year}}</span>
          <span>-</span>
          <span>{{cv.statistics.end.year}}</span>
        </div>
      </div>
    </main>
  </section>
</div>
