<aside class="test_border container">
  <d-tabs>
    <d-tab id="date" title="Date">
      <dl>
        <ng-template ngFor [ngForOf]="dateGroup" let-yearItem>
          <dt>
            <span class="group_title">{{yearItem.title}}</span><span>({{yearItem.count}})</span>
            <!--                    <span>From:{{yearItem.range.start.year}}-{{yearItem.range.start.monthValue}}-->
            <!--                      -{{yearItem.range.start.dayOfMonth}}</span>-->
            <!--                    <span>End:{{yearItem.range.end.year}}-{{yearItem.range.end.monthValue}}-->
            <!--                      -{{yearItem.range.end.dayOfMonth}}</span>-->
          </dt>
          <dd>
            <app-month-calendar [months]="$any(yearItem.children)">

<!--              &lt;!&ndash;real month &ndash;&gt;-->
<!--              <li *ngFor="let monthitem of yearItem.children" class="div{{monthitem.title}} month">-->
<!--                <span>{{monthitem.title}}月</span><span>({{monthitem.count}})</span>-->
<!--              </li>-->
            </app-month-calendar>
          </dd>
        </ng-template>
      </dl>
    </d-tab>
    <d-tab id="brand" title="Brand">

      <app-group-brand [filter]="filter"></app-group-brand>

    </d-tab>
    <d-tab id="tag" title="Tag">
      <section class="flex_row">
          <span *ngFor="let item of tagGroup">
 <d-badge count="{{item.count}}">
          <app-jumptag style="font-size: 14px;" [tag]="item.title"></app-jumptag>
 </d-badge>
            <!--          <span>({{item.count}})</span>-->

          </span>
      </section>
    </d-tab>
    <d-tab id="cv" title="CV">
      <section class="flex_row">
          <span *ngFor="let item of cvGroup">
            <d-badge count="{{item.count}}">
          <app-jumpcv style="font-size: 14px;" [cv]="item.title" [isReal]="item.real"></app-jumpcv>
            </d-badge>
          </span>

      </section>
    </d-tab>
    <d-tab id="state" title="State"></d-tab>
  </d-tabs>
</aside>
