<aside class="test_border container">
  <d-tabs>
    <d-tab id="date" title="Date">
      <dl>
        <ng-template ngFor [ngForOf]="dateGroup" let-yearItem>
          <dt>
            <span class="group_title">{{yearItem.title}}</span><span>年({{yearItem.count}})</span>
            <!--                    <span>From:{{yearItem.range.start.year}}-{{yearItem.range.start.monthValue}}-->
            <!--                      -{{yearItem.range.start.dayOfMonth}}</span>-->
            <!--                    <span>End:{{yearItem.range.end.year}}-{{yearItem.range.end.monthValue}}-->
            <!--                      -{{yearItem.range.end.dayOfMonth}}</span>-->
          </dt>
          <dd>
            <ul class="year">
              <!-- empty month-->
              <li class="div1 empty_month">1月</li>
              <li class="div2 empty_month">2月</li>
              <li class="div3 empty_month">3月</li>
              <li class="div4 empty_month">4月</li>
              <li class="div5 empty_month">5月</li>
              <li class="div6 empty_month">6月</li>
              <li class="div7 empty_month">7月</li>
              <li class="div8 empty_month">8月</li>
              <li class="div9 empty_month">9月</li>
              <li class="div10 empty_month">10月</li>
              <li class="div11 empty_month">11月</li>
              <li class="div12 empty_month">12月</li>

              <!--real month -->
              <li *ngFor="let monthitem of yearItem.children" class="div{{monthitem.title}} month">
                <span>{{monthitem.title}}月</span><span>({{monthitem.count}})</span>
              </li>
            </ul>
          </dd>
        </ng-template>
      </dl>
    </d-tab>
    <d-tab id="brand" title="Brand">

      <app-group-brand [filter]="filter"></app-group-brand>

    </d-tab>
    <d-tab id="tag" title="Tag">
      <section class="flex_row">
          <span *ngFor="let item of tagGroup">
 <d-badge count="{{item.count}}">
          <app-jumptag style="font-size: 14px;" [tag]="item.title"></app-jumptag>
 </d-badge>
            <!--          <span>({{item.count}})</span>-->

          </span>
      </section>
    </d-tab>
    <d-tab id="cv" title="CV">
      <section class="flex_row">
          <span *ngFor="let item of cvGroup">
            <d-badge count="{{item.count}}">
          <app-jumpcv style="font-size: 14px;" [cv]="item.title" [isReal]="item.real"></app-jumpcv>
            </d-badge>
          </span>

      </section>
    </d-tab>
    <d-tab id="state" title="State"></d-tab>
  </d-tabs>
</aside>
