<ul class="flex_{{row}} flex_float gap-5">
  <li>
    <a *ngIf="game.state !='HOPE'" style="margin-right: 10px" (click)="like()">LIKE</a>
  </li>
  <li>
    <a *ngIf="game.state !='UNCHECKED'" style="margin-right: 10px" (click)="normal()">NORMAL</a>
  </li>
  <li [ngSwitch]="edit">
    <span *ngSwitchCase="false" (click)="change()">{{game.state | jp}}</span>
    <select *ngSwitchCase="true" [(ngModel)]="game.state" (ngModelChange)="onStateSelected()">
      <option *ngFor="let state of states" [value]="state">{{state | jp}}</option>
    </select>
  </li>
  <li>
    <a *ngIf="game.state !='BLOCK'" style="margin-right: 10px" (click)="hate()">HATE</a>
  </li>
</ul>
