<nz-layout>
  <nz-content>
    <div class="flex_row">
      <div>
        <textarea [(ngModel)]="word" style="flex:1;font-size: 20px;height: 100vh" rows="10"></textarea>
        <button nz-button nzType="primary" (click)="search()">Analyze-></button>
      </div>
      <div style="padding: 0 100px ;flex:1;overflow-y: auto;height: 100vh">
        <p *ngFor="let part of parts">
          <ruby *ngFor="let token of part.tokens" [title]="token.allFeatures"
                class="{{token.partOfSpeechLevel1}} {{token.partOfSpeechLevel2}}">{{token.surface}}
            <rt *ngIf="token.pronunciation!='*'&& token.pronunciation!=''">{{token.pronunciation}}</rt>
          </ruby>
        </p>
      </div>
    </div>


  </nz-content>
</nz-layout>

