<div class="flex_row game"
     [class.HATE]="game.emotion =='HATE'">
  <!--  <div class="anchor_parent">-->
  <img class="img_alone" src="{{game|img}}/game_t.jpg"/>
  <!--    <app-formatted-date class="anchor" style="bottom: 0;right: 0" *ngIf="game.publishDate"-->
  <!--                        [game]="game"></app-formatted-date>-->
  <!--  </div>-->

  <nz-page-header>
    <nz-page-header-title>
      <app-game-playstate-change [game]="game"></app-game-playstate-change>
      <a class="title" routerLink="/game/{{game.id}}"> {{game.titles.mainTitle}}</a>
    </nz-page-header-title>
    <nz-page-header-subtitle>
      {{game.titles.subTitle}}

    </nz-page-header-subtitle>
    <nz-page-header-tags>
      <section *ngIf="game.tag?.length > 0" class="flex_row flex_float gap-5">
        <app-jumptag *ngFor="let tag of game.tag" [tag]="tag" style="font-size:10px;"></app-jumptag>
      </section>
    </nz-page-header-tags>
    <nz-page-header-extra>
      <app-star-change [game]="game"></app-star-change>
      <app-location-change [game]="game"></app-location-change>

      <app-emotion-change [game]="game"></app-emotion-change>
      <app-game-marksame style="margin-top: auto;" [game]="game"></app-game-marksame>
      <app-formatted-date *ngIf="game.publishDate"
                          [game]="game"></app-formatted-date>
    </nz-page-header-extra>
    <nz-page-header-content>

      <nz-descriptions>
        <nz-descriptions-item [nzSpan]="3" nzTitle="ブランド">
          <app-jump-brand [brand]="game?.brand"></app-jump-brand>
          <span *ngIf="game.brand.website && game.brand.website.length>0"
                style="display:inline-block;margin-left:5px;">
        (<a target="_blank" href="{{game.brand?.website}}">公式サイト</a>)
      </span>
        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="game.painter?.length>0" nzTitle="原画">
          <!--painter-->
          <section class="flex_row flex_float gap-5">
            <a *ngFor="let painter of game.painter" routerLink="/game/painter/{{painter}}">{{painter}}</a>
          </section>

        </nz-descriptions-item>
        <nz-descriptions-item *ngIf="game.writer?.length>0" nzTitle="シナリオ">
          <section class="flex_row flex_float gap-5">
            <a *ngFor="let writer of game.writer" routerLink="/game/writer/{{writer}}">{{writer}}</a>
          </section>
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>

</div>

