<nz-card [nzCover]="coverTemplate" [nzActions]="[playState, emotion,markSame,date]"
         [nzBodyStyle]="{padding:0,flex:1}"
         [class.HATE]="game.emotion =='HATE'"
         class="flex_column game">
  <main class="flex_column gap-3 container flex_grow  all_height">
    <section class="flex_row flex_float">
      <div>
        <app-game-playstate-change [game]="game"></app-game-playstate-change>
        <a title="{{game.name}}" class="title" routerLink="/game/{{game.id}}">
          {{game.titles?.mainTitle}}
        </a>
        <span>{{game.titles?.subTitle}}</span>
        <a *ngIf="game.isSame" style="color: red" (click)="delete()">[Delete]</a>
      </div>
    </section>
    <section>
      <app-jump-brand [brand]="game?.brand"></app-jump-brand>
      <span *ngIf="game.brand.website && game.brand.website.length>0"
            style="display:inline-block;margin-left:5px;">(<a target="_blank"
                                                              href="{{game.brand?.website}}">公式サイト</a>)</span>
    </section>
    <app-star-change *ngIf="published() && (game.playState=='PLAYED'|| game.star >0 )" [game]="game"></app-star-change>
    <section *ngIf="game.tag?.length > 0" class="flex_row flex_float gap-5">
      <app-jumptag *ngFor="let tag of game.tag" [tag]="tag" style="font-size:10px;"></app-jumptag>
    </section>
  </main>
</nz-card>

<ng-template #coverTemplate>
  <div class="anchor_parent">
    <img nz-popover [nzPopoverTrigger]="'click'"
         [nzPopoverContent]="drawerContent" *ngIf="large;else small" class="img_alone" src="{{game|img}}/game_s.jpg"
         loading="lazy"/>
    <ng-template #small>
      <img nz-popover [nzPopoverTrigger]="'click'"
           [nzPopoverContent]="drawerContent" class="img_alone" src="{{game|img}}/game_t200.jpg" loading="lazy"/>
    </ng-template>
    <!--    <app-formatted-date class="anchor" style="bottom: 0;right: 0" *ngIf="game.publishDate"-->
    <!--                        [game]="game"></app-formatted-date>-->
  </div>
</ng-template>

<ng-template #playState>
  <app-location-change *ngIf="published()" [game]="game"></app-location-change>
</ng-template>

<ng-template #markSame>
  <app-game-marksame style="margin-left: auto;" [game]="game"></app-game-marksame>
</ng-template>

<ng-template #emotion>
  <ng-container *ngIf="game.playState != 'PLAYED' && game.playState != 'PLAYING'">
  <app-emotion-change [game]="game"></app-emotion-change>
  </ng-container>
</ng-template>

<ng-template #date>
  <app-formatted-date *ngIf="game.publishDate"
                      [game]="game"></app-formatted-date>
</ng-template>

<ng-template #drawerContent>
  <app-game-simple [game]="game"></app-game-simple>
</ng-template>
