<main class="container test_border flex_column gap-5">
  <header *ngIf="brand!=null" class="container test_border"
          style="position: sticky;top: 0;right:0;background-color: white;z-index: 10">
    <div class="flex_row">
      <!-- Comp -->
      <span *ngIf="brand.comp!=null && brand.comp.length>0">{{brand.comp}} ></span>

      <!--Brand -->
      <select *ngIf="subBrands!= null &&subBrands.length>1;else single" [(ngModel)]="subBrandId"
              (ngModelChange)="onSubBrandSelected()">
        <option *ngFor="let subBrand of subBrands" [value]="subBrand.id">
          <ng-template [ngIf]="subBrand.id != brand.id" [ngIfElse]="others">
            {{subBrand.name}}  [{{subBrand.state.name}}]
          </ng-template>
          <ng-template #others>
            {{subBrand.name}}
          </ng-template>
        </option>
      </select>
      <ng-template #single>
        <span>{{brand.name}}</span>
      </ng-template>

      <!-- state change -->
      <select style="margin-left: auto" [(ngModel)]="brand.state.value" (ngModelChange)="onStateSelected()">
        <option *ngFor="let state of states" [value]="state.value">{{state.name}}</option>
      </select>
    </div>
  </header>
  <app-explorer [filter]="filter"></app-explorer>
</main>
