<main *ngIf="game!=null" style="background-color: #fff;" class="flex_column flex_float">

  <!-- Titles -->
  <section>
    <app-location-change [game]="game"></app-location-change>

    <span class="title">{{game.titles?.mainTitle}}</span>
    <span>{{game.titles?.subTitle}}</span>

    <section *ngIf="game.tag?.length > 0" class="flex_row flex_float gap-5">
      <app-jumptag *ngFor="let tag of game.tag" [tag]="tag" style="font-size:10px;"></app-jumptag>
    </section>
  </section>

  <!--others-->
  <section>
    <app-jump-brand [brand]="game.brand"></app-jump-brand>
    <span *ngIf="game.brand.website!=null && game.brand.website.length>0" style="display:inline-block;margin-left:5px;">(<a
      target="_blank"
      href="{{game.brand?.website}}">公式サイト</a>)</span>
  </section>
  <app-formatted-date *ngIf="game.publishDate!=null" [game]="game"></app-formatted-date>

  <app-star-change [game]="game"></app-star-change>

  <!--painter-->
  <section *ngIf="game.painter?.length>0" class="flex_row gap-5">
    <a *ngFor="let painter of game.painter">{{painter}}</a>
  </section>
  <app-state-change [game]="game"></app-state-change>
</main>
