<div class="all_height flex_column">

  <div class="flex_row">
    <nz-radio-group [(ngModel)]="searchType">
      <label nz-radio-button nzValue="Simple">Simple</label>
      <label nz-radio-button nzValue="Full">Full</label>
    </nz-radio-group>
    <form #form="ngForm" (submit)="onSubmit(form)" class="flex_row flex_grow">
      <!--      <nz-radio-group [(ngModel)]="searchType">-->
      <!--        <label nz-radio-button nzValue="Simple">Simple</label>-->
      <!--        <label nz-radio-button nzValue="Full">Full</label>-->
      <!--      </nz-radio-group>-->
      <input name="searchKey" class="flex_grow" ngModel required placeholder="好みのゲームネイムを入れてください"/>
      <input type="submit" value="Search" [disabled]="form.invalid"/>
    </form>
  </div>

  <app-explorer [filter]="filter" class="flex_grow"></app-explorer>
</div>
