<nz-tree #nzTreeComponent
         [nzData]="data"
         (nzClick)="nodeSelected($event)"
         [nzBlockNode]="true"
         [nzExpandAll]="true"
         [nzShowLine]="true"
         [nzTreeTemplate]="nzTreeTemplate"
></nz-tree>

<ng-template #nzTreeTemplate let-node let-origin="origin">
  <div *ngIf="!node.isLeaf">
<!--    <nz-badge [nzCount]="origin.item.count">-->
      <span class="folder-name" [title]="origin.item.count">{{ origin.item.title }}</span>
<!--    </nz-badge>-->
  </div>
  <div *ngIf="node.isLeaf">
<!--    <nz-badge [nzCount]="origin.item.count">-->
      <div class="file-name" [title]="origin.item.count">{{ origin.item.title }}</div>
<!--    </nz-badge>-->
    <!--    <span class="file-name">({{ origin.item.count }})</span>-->
  </div>
</ng-template>
