<dl>
  <ng-template ngFor [ngForOf]="brandGroup" let-item>
    <dt>
      <span class="group_title">{{item.title}}</span><span>({{item.count}})</span>
    </dt>
    <dd>
      <ul *ngIf="item.children!=null && item.children.length>0;else games">

        <!-- brands-->
        <li *ngFor="let subItem of item.children">

          <ng-template [ngIf]="subItem.games!=null && subItem.games.length>0" [ngIfElse]="nogame">
            <section>
              <header (click)="change(brandgame)">
                <span>{{subItem.title}}</span> <span>({{subItem.count}})</span>
              </header>
              <main #brandgame [hidden]="true">
                <app-game-list-panel [games]="subItem.games"></app-game-list-panel>
              </main>
            </section>
          </ng-template>
          <ng-template #nogame>
            <span>{{subItem.title}}</span> <span>({{subItem.count}})</span>
          </ng-template>
        </li>
      </ul>
      <ng-template #games>
        <app-game-list-panel [hidden]="true" [games]="item.games"></app-game-list-panel>
      </ng-template>
    </dd>
  </ng-template>
</dl>
