/*.label,.text{
-fx-font-family:"微软雅黑","ゴシック",Helvetica, Arial, sans-serif;
-fx-font-smoothing-type:gray;
}*/
.back{
-fx-background-color: white;
}

.mainTitle{
-fx-font-size:24px;
}

.gray .label,.gray .hyperlink,.gray .cell{
-fx-text-fill:#AAA;
}

.gray .tag{
-fx-background-color: #AAA;
}

.treeitem{
}

.treeitem:hover{
-fx-text-fill:#FFF;
-fx-background-color:#FFABD3;
}

.tag{
-fx-font-weight:bolder;
-fx-font-size:14px;
-fx-text-fill:#000;
}
.tag{

    -fx-background-color: #FFABD3;
    -fx-background-radius: 3px;
    -fx-background-insets: 2px;
    -fx-padding: 4px 6px 4px 6px; /* 4 8 4 9 */
}

.tagsmall{
-fx-font-size:10px;
}

.sidebar{
-fx-background-color: rgb(210,210,210);
}

.mask{
-fx-background-color: rgba(125,125,125,0.5);
}

.alert{
-fx-text-fill: red;
}


.copyablelabel{
    -fx-background-color: transparent;
}

.datecolor{
-fx-background-color: rgba(220,220,220,1);
}

.highlight_date{
-fx-background-color: rgb(210,210,210);
}


.toggle-button .left-pill {
    -fx-background-radius: 3 0 0 3, 3 0 0 3, 2 0 0 2, 1 0 0 1;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.75em; /* 4 8 4 9 */
}
.toggle-button .center-pill {
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 0, 2 2 2 1 ;
}
.toggle-button .right-pill {
    -fx-background-radius: 0 3 3 0, 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-background-insets: 0 0 -1 0, 0, 1 1 1 0, 2 2 2 1 ;
}
.toggle-button .left-pill:focused {
    -fx-background-insets: -0.2 0 -0.2 -0.2, 1, 2, -1.4 0 -1.4 -1.4, 2.6;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 1 0 0 1, 4 0 0 4, 1 0 0 1;
}
.toggle-button .center-pill:focused {
    -fx-background-insets: -0.2 0 -0.2 -1, 1 1 1 0, 2 2 2 1, -1.4 0 -1.4 -1, 2.6 2.6 2.6 1.6;
    -fx-background-radius: 0, 0, 0, 0, 0;
}
.toggle-button .right-pill:focused {
    -fx-background-insets: -0.2 -0.2 -0.2 -1, 1 1 1 0, 2 2 2 1, -1.4 -1.4 -1.4 -1, 2.6 2.6 2.6 1.6;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0, 0 4 4 0, 0 1 1 0;
}
.toggle-button:selected .left-pill:focused {
    -fx-background-insets: -0.2 0 -0.2 -0.2, 1, -1.4 0 -1.4 -1.4, 2.6;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 4 0 0 4, 0;
}
.toggle-button:selected .center-pill:focused {
    -fx-background-insets: -0.2 0 -0.2 -1, 1 1 1 0, -1.4 0 -1.4 -1, 2.6 2.6 2.6 1.6;
    -fx-background-radius: 0, 0, 0, 0;
}
.toggle-button:selected .right-pill:focused {
    -fx-background-insets: -0.2 -0.2 -0.2 -1, 1 1 1 0, -1.4 -1.4 -1.4 -1, 2.6 2.6 2.6 1.6;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 4 4 0, 0;
}

.tab-pane >.tab-header-area > .headers-region > .tab:selected{
 -fx-background-color:#37CBFF
 }
