<ng-template #sortPanel>
  <ul class="flex_row gap-5 " style="margin-left: auto">
    <li (click)="sort()">Name</li>
    <li (click)="sortEmotion()">Emotion</li>
  </ul>
</ng-template>

<nz-layout>
  <nz-content>
    <div *ngIf="size=='Grid'"
         class="grid game-grid  container">
      <app-grid-cell class="cell" (remove)="gameDelete($event)" [game]="g" *ngFor="let g of gamelist"></app-grid-cell>
    </div>
    <div *ngIf="size=='Small'"
         class="grid small-grid  container">
      <app-img-cell class="cell" (remove)="gameDelete($event)" [large]="false" [game]="g"
                    *ngFor="let g of gamelist"></app-img-cell>
    </div>

    <!--    <cdk-virtual-scroll-viewport  itemSize="200" >-->
    <div class="grid game-list  container" *ngIf="size=='List'">
      <app-list-cell class="cell" (remove)="gameDelete($event)" [game]="g"
                     *ngFor="let g of gamelist"></app-list-cell>
    </div>
    <!--    </cdk-virtual-scroll-viewport>-->


  </nz-content>
  <nz-footer>
    <nz-affix [nzOffsetBottom]="0">
      <div class="flex_row">
      <span class="bg-white"
            *ngIf="rowGameList?.length == gamelist?.length;else filterCount">{{rowGameList.length}}</span>

        <ng-template #filterCount>
          <span class="bg-white">{{rowGameList.length}} / <a (click)="clearFilter()">{{gamelist.length}}</a></span>
        </ng-template>

        <div *ngIf="gamelist.length>1" style="margin-left: auto" class="flex_row gap-5">
          <span nz-popover [nzPopoverContent]="sortPanel">Sort</span>

          <nz-radio-group [(ngModel)]="size" nzButtonStyle="solid">
            <label nz-radio-button nzValue="Grid"><i nz-icon nzType="appstore" nzTheme="outline"></i></label>
            <label nz-radio-button nzValue="List"><i nz-icon nzType="bars" nzTheme="outline"></i></label>
            <label nz-radio-button nzValue="Small">Small</label>
          </nz-radio-group>
        </div>
      </div>
    </nz-affix>

  </nz-footer>
</nz-layout>


