* {
    font-family: "System Bold", serif;
}

.tag {
    font-size: 10px;
    font-weight: bolder;
    color: #000;
    background-color: #FFABD3;
    border-radius: 3px;
    padding: 4px;
    margin-right: 5px;
    display: inline-block;
}


.anchor {
    position: absolute;
}

.anchor_parent {
    position: relative;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    justify-items: stretch;
    align-items: start;
    justify-content: center;
    align-content: start;
    gap: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    align-items: start;
}

.image_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    /* grid-template-rows: repeat(auto-fill,100px); */
    /* flex-wrap: wrap; */
    /* flex: auto; */
    justify-items: start;
    align-items: start;
    justify-content: start;
    align-content: start;
    gap: 10px;


}

.img_alone {
    align-self: start;
}

.flex_row,
.flex_column {
    display: flex;
    align-content: start;
    align-items: stretch;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.game {
    padding: 5px;
    /* margin:20px 50px 0 0; */
    background-color: #eee;
    border: #e0e0e0 solid 2px;
    gap: 5px 10px;

}

.border {
    border: #000 solid 1px;
}

/* body{
     display: flex;
     justify-content: space-around;
 } */