<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css.css">
    <script type="text/javascript">
        function showLarge(gid, index) {
            document.querySelectorAll(`#sampleLarge_${gid}>img`).forEach((node) => node.style.display = 'none')

            document.getElementById(`${gid}_large_${index}`).style.display = 'block'
        }

    </script>
    <title>${g.name}</title>
</head>

<body class="flex_column" style="gap:3px;">
<section class="flex_column" style="background-color: #ddd;">
    #parse("/tpl/game/explorer/part/gameInfomain.vm")
    <painters class="flex_row" style="gap:10px">
        #foreach($painter in $g.painter)
            <a href="javascript:app.loadPainterTab('$painter')">$painter</a>
        #end
    </painters>
</section>
<section class="flex_row" style="gap:10px;">
    <sampleIamges class="flex_row"
                  style="justify-content:center; align-content: center; align-items: start;">
        <img class="img_alone" src="$IMG_REMOTE/game/${GetchuGameLocal.largeImg($g)}.jpg"/>

    </sampleIamges>

    <textarea readonly="readonly" rows="20" style="flex: 1">${g.intro}${g.story}</textarea>
</section>

<section class="grid" style="grid-template-columns: 1fr 1fr;gap: 20px">
    #foreach($character in $g.gameCharacters)
        <character class="flex_row">
            <div class="imageborder">
                <img src="$IMG_REMOTE/game/${GetchuGameLocal.gameChar($g,$character.index)}.jpg"/>
            </div>
            <main class="flex_column" style="flex:1">
                <span>
                    ${character.name}
                </span>
                #if(${Strings.isNotEmpty($character.cv)})
                    <cv class="flex_row" style="gap:3px;font-size:14px">
                        <span>CV: </span>
                        #if(${Strings.isNotEmpty($character.trueCV)})
                            <span><a style="color:red"
                                     href="javascript:app.loadCVTab('${character.trueCV}',true)">${character.trueCV}</a></span>

                        #else
                            <span><a href="javascript:app.loadCVTab('${character.cv}',false)">${character.cv}</a></span>
                            <span>(<a href="javascript:app.openWiki('${character.cv}')">Wiki</a>)</span>
                            <span>(<a href="javascript:app.openBangumi('${character.cv}')">Bangumi</a>)</span>

                        #end
                    </cv>
                #end
                <textarea readonly="readonly" style="flex:1">${character.intro}</textarea>

            </main>

        </character>
    #end
</section>
<section class="flex_row" style="gap:10px;flex-wrap: wrap">


    #foreach($img in $g.gameImgs)
        <img src="$IMG_REMOTE/game/${GetchuGameLocal.largeSimpleImg($g,$img.index)}.jpg"/>
    #end
</section>
</body>

</html>