<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <style>
        main.grid {
            grid-template-columns: repeat(5, auto);
            grid-template-rows:repeat(2, auto);
            align-items: stretch;
            justify-items: stretch;
            justify-content: start;
            align-content: start;
        }
    </style>
    <link rel="stylesheet" href="/css.css">
    <title>Title</title>
</head>

<body>
<main class="grid">
    #foreach($cvgroup in $cvlist)
        <section class="flex_column" style=" padding: 5px;">
            <header>
                #if(${cvgroup._1()}>0)
                #foreach($i in [1..${cvgroup._1()}])
                    #include("/tpl/game/explorer/star.vm")
                #end
            #else
                    ${cvgroup._1()}
                #end
            </header>
            <main class="flex_row" style="flex-wrap: wrap;gap:5px;">
                #foreach($cv in ${cvgroup._2()})
                    <a href="javascript:app.openCV('$cv.name')" class="tag" style="font-size: 18px;">$cv.name</a>
                #end
            </main>
        </section>
    #end
</main>

</body>

</html>