<div class="flex_row">
  <aside class="sidebar container test_border">
    <h2><a routerLink="/">Home</a></h2>
    <h2><a routerLink="/game/search">Search</a></h2>
    <dl>
      <dt>
        Date
      </dt>
      <dd>
        <ul>
          <li *ngFor="let date of dates"><a (click)="jump(date)">{{date.name}}</a></li>
        </ul>
      </dd>
      <dt>
        State
      </dt>
      <dd>
        <ul>
          <li *ngFor="let state of states"><a href="/game/state/{{state}}">{{state | jp}}</a></li>
        </ul>
      </dd>
      <dt>
        Location
      </dt>
      <dd>
        <ul>
          <li *ngFor="let location of locations"><a href="/game/location/{{location}}">{{location | loc}}</a></li>
        </ul>
      </dd>
      <dt>
        Star
      </dt>
      <dd>
        <ul>
          <li *ngFor="let star of stars"><a href="/game/star/{{star}}">{{star}}</a></li>
        </ul>
      </dd>
      <dt>Other</dt>
      <dd>
        <ul>
          <li><a routerLink="/cv">CV</a></li>
          <li><a routerLink="/tag">Tag</a></li>
          <li><a routerLink="/brand">BRAND</a></li>
        </ul>
      </dd>
    </dl>
  </aside>
  <main class="flex_grow container test_border">
    <router-outlet></router-outlet>
  </main>
</div>



