<ng-template [ngIf]="gamelist!=null">
  <ng-template [ngIf]="gamelist.length>0" [ngIfElse]="noGames">
    <d-splitter style="height: 100%">
      <d-splitter-pane maxSize="400px" size="300px" minSize="300px" [collapsible]="true" class="all_height"
                       style="overflow: scroll">
        <aside class="test_border container">
          <d-tabs>
            <d-tab id="date" title="Date">
              <dl>
                <ng-template ngFor [ngForOf]="dateGroup" let-yearItem>
                  <dt>
                    <span class="group_title">{{yearItem.title}}</span><span>年({{yearItem.count}})</span>
                    <span>From:{{yearItem.range.start.year}}-{{yearItem.range.start.monthValue}}
                      -{{yearItem.range.start.dayOfMonth}}</span>
                    <span>End:{{yearItem.range.end.year}}-{{yearItem.range.end.monthValue}}
                      -{{yearItem.range.end.dayOfMonth}}</span>
                  </dt>
                  <dd>
                    <ul class="year">
                      <!-- empty month-->
                      <li class="div1 empty_month">1月</li>
                      <li class="div2 empty_month">2月</li>
                      <li class="div3 empty_month">3月</li>
                      <li class="div4 empty_month">4月</li>
                      <li class="div5 empty_month">5月</li>
                      <li class="div6 empty_month">6月</li>
                      <li class="div7 empty_month">7月</li>
                      <li class="div8 empty_month">8月</li>
                      <li class="div9 empty_month">9月</li>
                      <li class="div10 empty_month">10月</li>
                      <li class="div11 empty_month">11月</li>
                      <li class="div12 empty_month">12月</li>

                      <!--real month -->
                      <li *ngFor="let monthitem of yearItem.children" class="div{{monthitem.title}} month">
                        <span>{{monthitem.title}}月</span><span>({{monthitem.count}})</span>
                      </li>
                    </ul>
                  </dd>
                </ng-template>
              </dl>
            </d-tab>
            <d-tab id="brand" title="Brand">
              <dl>
                <ng-template ngFor [ngForOf]="brandGroup" let-item>
                  <dt>
                    <span class="group_title">{{item.title}}</span><span>({{item.count}})</span>
                  </dt>
                  <dd>
                    <ul>
                      <li *ngFor="let subItem of item.children">
                        <span>{{subItem.title}}</span> <span>({{subItem.count}})</span>
                      </li>
                    </ul>
                  </dd>
                </ng-template>
              </dl>
            </d-tab>
            <d-tab id="tag" title="Tag">
              <section class="flex_row">
          <span *ngFor="let item of tagGroup">
 <d-badge count="{{item.count}}">
          <app-jumptag style="font-size: 14px;" [tag]="item.title"></app-jumptag>
 </d-badge>
            <!--          <span>({{item.count}})</span>-->

          </span>
              </section>
            </d-tab>
            <d-tab id="cv" title="CV">
              <section class="flex_row">
          <span *ngFor="let item of cvGroup">
            <d-badge count="{{item.count}}">
          <app-jumpcv style="font-size: 14px;" [cv]="item.title" [isReal]="item.real"></app-jumpcv>
            </d-badge>
          </span>

              </section>
            </d-tab>
          </d-tabs>
        </aside>
      </d-splitter-pane>
      <d-splitter-pane class="all_height" style="overflow: scroll">
        <div class="flex_column all_height">
          <header>
            <app-filter></app-filter>
          </header>

          <div [ngSwitch]="size" class="flex_grow" style="overflow: scroll">
            <main *ngSwitchCase="'Grid'"
                  style="grid-template-columns: repeat(auto-fill, 280px);justify-items: center;"
                  class="grid div2 test_border container">

              <app-grid-cell [game]="g" *ngFor="let g of gamelist"></app-grid-cell>
            </main>

            <main *ngSwitchCase="'List'"
                  style="justify-items: center;"
                  class="flex_column div2 test_border container">

              <app-list-cell [game]="g" *ngFor="let g of gamelist"></app-list-cell>
            </main>
          </div>

          <footer style="background-color: white;"
                  class="test_border container flex_row">
            <span>{{gamelist.length}}</span>
            <select class="flex_row gap-5" [(ngModel)]="size" style="margin-left: auto">
              <option value="Grid">Grid</option>
              <option value="List">List</option>
            </select>
          </footer>
        </div>
      </d-splitter-pane>
    </d-splitter>
  </ng-template>

  <ng-template #noGames>
    <H3>Empty</H3>
  </ng-template>
</ng-template>
