.game-grid {
  grid-template-columns: repeat(auto-fill, 290px);
  justify-items: center;
  align-items: stretch !important;
}

.game-list {
  grid-template-columns: repeat(1, auto);
  /*justify-items: center;*/
  justify-content: stretch !important;
  /*align-items: stretch !important;*/
}
