
.tag {
  /*font-family: Meiryo, serif;*/
  /*font-weight: bolder;*/
  color: #000;
  background-color: #FFABD3;
  border-radius: 3px;
  padding: 4px;
  /*margin-right: 5px;*/
  display: inline-block;
}


.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: start;
  align-items: start;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  /* grid-template-rows: repeat(auto-fill,100px); */
  /* flex-wrap: wrap; */
  /* flex: auto; */
  justify-items: start;
  align-items: start;
  justify-content: start;
  align-content: start;
  gap: 10px;
}

.img_alone {
  align-self: start;
}

/*img{*/
/*  border: #eee solid 3px;*/
/*}*/


.test_border {
  border: #000 solid 1px;
}

.game {
  height: 100%;
  /*padding: 5px;*/
  /*background-color: #eee;*/
  border: #e0e0e0 solid 3px;
  /*gap: 5px 10px;*/
}


.LIKE {
  /*background-color: #ff1151;*/
  border: #ff1151 solid 3px;
  /*color: #eeeeee;*/
}

.HOPE {
  /*background-color: #FFABD3;*/
  border: #FFABD3 solid 3px;
  /*color: #eeeeee;*/
}


.HATE {
  filter: saturate(0%);
}

.SAME {
  /*background-color: #919191;*/
  border: #919191 solid 3px;
}

h1,h2,h3,h4,h5{
  margin: 0;
}
