<game class="grid game" style="width:280px;height:600px;flex-direction:column;align-items:stretch; ">
    <div>
        <div class="imageborder anchor_parent">
            <img src='{imgUrl}'/>
            <div class="anchor" style="bottom:3px;right:3px;">{stars}</div>
        </div>
    </div>
    <detail class="grid anchor_parent" style="flex:1;align-items:stretch; flex-direction:column;">
        <article>
            <svg width="10" height="10" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5" r="5" fill="{g.location}"/>
            </svg>
            <a style="color:black;" href='javascript:app.openDetail({g.id})'>
                <span style='font-size:24px;'>{titles.mainTitle}</span>
                <span>{titles.subTitle}</span>
            </a>
        </article>

        <main style="flex:1">
            <brand style="display:block;font-size:14px;">
                <a style="margin-right:5px;" href="javascript:app.openBrand({g.id})">{brand.name}</a>
                (<a href="javascript:app.openUrl('{brand.website}')">公式サイト</a>)
            </brand>
            <div>{tags}</div>
        </main>
        <div class="anchor" style="right:1px;bottom:1px;">{g.publishDate}</div>
        <div class="anchor" style="left:1px;bottom:1px;">{g.state}</div>
    </detail>
</game>