<game class="flex_row game" style="width:1400px;">
    <div class="imageborder anchor_parent">
        <img src='{imgUrl}'/>
        <div class="anchor" style="bottom:3px;right:3px;">{stars}</div>
    </div>

    <detail class="flex_column" style="flex:1;">
        <article>
            <svg width="10" height="10" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5" cy="5" r="5" fill="{g.location}"/>
            </svg>
            <a style="color:black;" href='javascript:app.openDetail({g.id})'>
                <span style='font-size:24px;'>{titles.mainTitle}</span>
                <span>{titles.subTitle}</span>
            </a>
        </article>

        <main style="flex:1">
            <brand style="display:block;font-size:14px;">

                <a style="margin-right:5px;" href="javascript:app.openBrand({g.id})">{brand.name}</a>
                (<a href="javascript:app.openUrl('{brand.website}')">公式サイト</a>)
            </brand>
            <div>{tags}</div>

        </main>
        <footer class="flex_row">
            <span>{g.publishDate}</span>
            <span style="margin-left: auto;">{g.state}</span>
        </footer>

    </detail>
</game>