* {
  font-family: serif;
  /*padding: 0;*/
  /*margin: 0;*/
}


.title {
  font-size: 24px;
  color: black;
}

.bg-white {
  background-color: #fff;
}


.group_title {
  font-size: 18px;
}

.all_height {
  height: 100%;
}


/*dt, dd, dl, ul, li {*/
/*  margin-left: 0;*/
/*}*/

/*ul>li{*/
/*  list-style: none;*/
/*}*/

.anchor {
  position: absolute;
}

.anchor_parent {
  position: relative;
}

a {
  color: #1E90FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 3px;
}

.gap-3 {
  gap: 3px;
}

.gap-5 {
  gap: 5px;
}

gap-10 {
  gap: 10px;
}


.tag {
  /*font-family: Meiryo, serif;*/
  /*font-weight: bolder;*/
  color: #000;
  background-color: #FFABD3;
  border-radius: 3px;
  padding: 4px;
  /*margin-right: 5px;*/
  display: inline-block;
}


.grid {
  display: grid;
  justify-items: stretch;
  align-items: start;
  justify-content: center;
  align-content: start;
  gap: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: start;
  align-items: start;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  /* grid-template-rows: repeat(auto-fill,100px); */
  /* flex-wrap: wrap; */
  /* flex: auto; */
  justify-items: start;
  align-items: start;
  justify-content: start;
  align-content: start;
  gap: 10px;
}

.img_alone {
  align-self: start;
}

.flex_row,
.flex_column {
  display: flex;
  align-content: start;
  align-items: stretch;
}

.flex_row {
  flex-direction: row;
}

.flex_column {
  flex-direction: column;
}

.flex_float {
  flex-wrap: wrap;

}

.flex_grow {
  flex: 1;
}

/*img{*/
/*  border: #eee solid 3px;*/
/*}*/


.test_border {
  border: #000 solid 1px;
}

.game {
  height: 100%;
  padding: 5px;
  /* margin:20px 50px 0 0; */
  background-color: #eee;
  border: #e0e0e0 solid 2px;
  gap: 5px 10px;

}


.HOPE {
  border: #313131 solid 1px;
  background-color: #FFABD3;
  /*color: #eeeeee;*/
}

.PLAYED {
  border: #313131 solid 1px;
  background-color: #4ea6fd;
}

.PLAYING {
  border: #313131 solid 1px;
  background-color: #fde64e;
}


.BLOCK {
  filter: saturate(0%);
}

.SAME {
  border: #313131 solid 1px;
  background-color: #919191;
}
