<!--characters-->
<section *ngIf="game.gameCharacters.length>0" class="grid characters">
  <div *ngFor="let character of game.gameCharacters" class="flex_column">
    <aside class="imageborder">
      <img src="{{game | img}}/char_s_{{character.index}}.jpg" loading="lazy" dPopover [trigger]="'hover'"
           [controlled]="true"
           [content]="desc"/>
    </aside>
    <main class="flex_column flex_grow">
                <span style="font-size:14px">
                    {{character.name}}
                </span>
      <div *ngIf="character.cv?.trim().length>0" class="flex_row gap-3">
        <span>CV: </span>

        <div *ngIf="character.trueCV?.trim().length>0; else cvInfo" class="flex_row gap-3">
          <app-jumpcv [cv]="character.trueCV" [isReal]="true"></app-jumpcv>
          <d-rate [ngModel]="character.cvObj.star" [readonly]="true"></d-rate>
        </div>
        <ng-template #cvInfo>
          <div class="flex_row gap-3">
            <app-jumpcv [cv]="character.cv" [isReal]="false"></app-jumpcv>

            <span>(<a target="_blank" href="{{character.cv | wiki}}">Wiki</a>)</span>
            <span>(<a target="_blank" href="{{character.cv | bangumi}}">Bangumi</a>)</span>
          </div>
        </ng-template>
      </div>
      <ng-template #desc>
        <textarea readonly="readonly" rows="10" style="font-size: 18px;border: none"
                  class="flex_grow">{{character.intro}}</textarea>
      </ng-template>

    </main>

  </div>
</section>

