<!--characters-->
<section *ngIf="game.gameCharacters?.length>0">

  <nz-card *ngIf="womenCharacters?.length>0" nzTitle="ヒロイン">
    <div class="grid characters">
      <app-game-char-cell *ngFor="let character of womenCharacters" [game]="game"
                          [character]="character"></app-game-char-cell>

    </div>

  </nz-card>

  <nz-card *ngIf="menCharacters?.length>0" nzTitle="主人公">
    <div class="grid characters">
      <app-game-char-cell *ngFor="let character of menCharacters" [game]="game"
                          [character]="character"></app-game-char-cell>
    </div>

  </nz-card>
</section>

